.header {
  background-color: #ff4d00;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  z-index: 1000;
}
.header input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  width: 220px;
  text-align: right;
  margin: 0px 20px;
}
.header button {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #f1f1f1;
  color: #000000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border-color: #ff4d00;
}

